#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 80vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 60px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.sidebar-separator2 {
    background-color: #333;
    height: 30px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.block {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  #logindiv{
      vertical-align: middle;
      box-sizing: border-box;
      padding-left: 40%;
      padding-top: 12%;
      padding-bottom: 10%;
      padding-right: 10%;
      
     
  }
  /* login css */
  .wr-login {
    padding-top: 50px;
    padding-bottom: 50px;
}

.wr-login input[type=text], .wr-login input[type=password]{
    border: 1px #d2d2d2 solid;
    width: 100%;
    padding: 6px 10px;
    z-index: 1;
    -webkit-appearance: none;
    line-height: 30px;
    border-radius: 0px;
}
.wr-btn {
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    background: #5d81d2;
    padding: 10px 10px;
    display: inline-block;
    border: none;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.boarder-bottom-blue {
    border-bottom: 2px solid #006596;
}
.padding-double {
    padding: 20px;
}
.white {
    color: #FFF;
}
.blue-bg {
    background-color: #3a9ecf !important;
}
.uppercase {
    text-transform: uppercase;
}
.boarder-all {
    border: 1px solid #d8d8d8;
    background: #FFF;
    margin-top: -10px;
}
.font-large {
    font-size: 16px;
}
.wr-input-control {
    margin-bottom: 20px;
}
.wr-login {
    padding-top: 50px;
    padding-bottom: 50px;
}
.wr-btn {
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    background: #5d81d2;
    padding: 10px 10px;
    display: inline-block;
    border: none;
}
.button.grey-bg:hover {
    background-color: #3A9ECF;
}
.wr-btn:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #6b94f1;
}
button.grey-bg {
    background-color: #222222;
}
button.font-extra-large {
    font-size: 20px;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 45px;
    overflow: hidden;
    color: #cbcbcb;
    background: #222222;
    line-height: 35px;
}




  